:root {
  --color-primary: #2998ff;
  --color-primary-light: #2998ff;
  --color-primary-dark: #5643fa;
  --color-yellow: #ffeb3b;
  --color-red: #ff165d;
  --color-orange: #ff7d56;
  --color-grey-light01: #faf9f9;
  --color-grey-light02: #f4f2f2;
  --color-grey-light03: #f0eeee;
  --color-grey-light04: #ccc;
  --color-grey-dark01: #333;
  --color-grey-dark02: #777;
  --color-grey-dark03: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
